default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  timeout: 5000
  username: postgres
  password: postgres
  host: localhost
  port: 5432

development:
  <<: *default
  database: symmetry_development

test:
  primary:
    <<: *default
    database: symmetry_test

production:
  <<: *default
  url: <%= ENV['DATABASE_URL'] %>
