h1 = t('mailer.password_changed.subject')

p = t('mailer.greeting', name: @resource.first_name.presence || @resource.email)

p = t('mailer.password_changed.body')

p style="font-size: 14px; color: #71717a;"
  = t('mailer.password_changed.warning')
